.h1{ font-family: monospace;}
.container{ width: 500px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;}
.box{ width: 150px;
 height: 150px;
background-color: teal;
margin: 1px;
border-radius: 10px;
transition: 0.5s;
border: darkkhaki 2px;
}
.box:hover{background-color: turquoise; }
body{ display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: 25px solid red;}
